@import '../mixins';
@import '../variables';

.wrapper {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 30px;

  border-radius: 36px 36px 0px 0px;
  background-color: $grey;
}

@media screen and (max-width: $maxMobile) {
  .wrapper {
    padding-top: 10px;
    padding-bottom: 16px;
  }
}
