@import '../variables';

.wrapper {
  position: relative;
  margin-top: 130px;

  border-radius: 30px;
  overflow: hidden;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  height: auto;
}
