.section {
  width: 100%;
}

.filled {
  padding: 30px;
  border-radius: 30px;
}

.ghost {
  padding-left: 18px;
  padding-right: 18px;
}

@media screen and (max-width: 767px) {
  .filled {
    padding: 20px 16px 16px 16px;
  }
  .ghost {
    padding-left: 6px;
    padding-right: 6px;
  }
}
