@import '../../../variables';
@import '../../../mixins';

.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 26px;
  width: 100%;
  max-width: 488px;
}

.labelBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.label {
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.labelAccent {
  color: $red;
}

.input {
  margin-top: 10px;
}

.containerClass {
}

.dropdownClass {
  // z-index: 1000 !important;
}

.phoneInput {
  display: flex;
  height: 48px;
}

.submitBtn {
  margin-top: 14px;
}

@media screen and (max-width: $maxMobile) {
  .form {
    gap: 24px;
    max-width: 100%;
  }

  .labelBox {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .submitBtn {
    margin-top: 24px;
    width: 100%;
  }
}
