@import '../styles/variables';
@import '../styles/mixins';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;

  padding: 0;
  margin: 0;
}

body {
  @include p2;
  @include cursor-default;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  color: $dark;

  overscroll-behavior: none;

  & * {
    z-index: 1;
  }
}

a {
  @include cursor-pointer;

  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  @include cursor-pointer;
  border: none;
}
