@import '../../../variables';
@import '../../../mixins';
@import '../../../functions';

.description {
  padding-bottom: 50px;
  padding-right: 14px;
}

.title {
  @include h3;

  margin-top: 148px;
  margin-bottom: 16px;
}

@media screen and (min-width: $largeScreen) {
  .description {
    padding-bottom: sizeVW(50);
    padding-right: sizeVW(14);
  }

  .title {
    margin-top: sizeVW(148);
    margin-bottom: sizeVW(16);
  }
}

@media screen and (max-width: $maxTablet) {
  .description {
    padding-bottom: 0;
    padding-right: 0;
  }

  .title {
    margin-top: 40px;
  }
}
