@import '../../../mixins.scss';
@import '../../../variables';

.page {
  background-color: $grey;
}

.main {
  @include container;
  position: relative;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (max-width: $maxMobile) {
  .cardList {
    gap: 10px;
  }
}
