@import '../../../variables';
@import '../../../mixins';

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 80px;

  color: $light;
  background-color: $dark;
}

.cardTitle {
  color: $light;
}

.title {
  @include h3;

  margin-top: 36px;
  max-width: 489px;
  color: $light;

  & :nth-child(2) {
    span :nth-child(2) {
      color: $accent;
    }
  }
}

.titleAccent {
  color: $accent;
}

.pluses {
  display: inline-flex;
  gap: 14px;
  margin-top: 150px;
}

.plusIcon {
  stroke: $light;
  stroke-width: 2.5px;
  opacity: 0.4;
}

.description {
  @include p3;

  margin-top: 122px;
  width: 283px;

  & p {
    opacity: 0.4;
  }
}

.hr {
  margin-top: 24px;
  margin-bottom: 24px;

  background-color: $light;
  opacity: 0.08;
}

@media screen and (max-width: $maxMobile) {
  .section {
    display: block;
    padding-bottom: 16px;
  }

  .title {
    margin-top: 30px;
  }

  .pluses {
    margin-top: 30px;
  }

  .description {
    margin-top: 40px;
    width: 100%;
  }
}
